.flex{
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap;
}
.h2{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
}
.font{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}
.margin{
  margin: 0 15px;
}
.font1{
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 20px;
}